.square {
  width: 200px;
  height: 200px;
  background-color: blue;
  padding: 30px;
  box-sizing: border-box;
  margin: 10px;
}

.square.not-visible {
  visibility: hidden;
}

.square h3 {
  color: white;
  text-align: center;
}

.m-1 {
  margin: 10px;
}

.main-block {
  height: 500px;
  border: 1px solid black;
}
