* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.user {
  height: 100vh;
}

.user .user-profile {
  padding: 15px 20px;
  border: 1px solid #272727;
  border-radius: 16px;
}

.user .user-profile .user-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 3px solid black;
}

.user .user-profile .user-img .icon {
  width: 100px;
}

.user .user-profile .user-details {
  padding: 10px 20px;
  text-align: center;
}

.user .user-profile .user-details .username {
  font-size: 26px;
  font-weight: 300;
}

.user .user-profile .user-details .nickname {
  font-size: 12px;
  font-weight: 500;
  color: #ababab;
}
