.buttons{
    width:450px;
    border:3px solid black;
    margin: 50px auto;
}

.check{
   
    text-align: center;
}

.check input{
    display:none;
}
.check .circle>.circle_example, .check .square>.square_example{
    width:30px;
    height:30px;
    border:2px solid green;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    margin:10px;
}
.circle>div, .square>div{
    display: inline-block;
}
.label_name{
  vertical-align: top;
    padding:20px;
}
.circle_example::after, .square_example::after{
    content: "";
    width:20px;
    height:20px;
    border-radius: 100%;
    position: absolute;
    background-color: green;
    top:5px;
    left:5px;
    display:none;
}


.check input:checked + label>.circle_example::after, .check input:checked + label>.square_example::after {
    display:block;
}
.check input:checked + label>.square_example{
    background-color: green;
}
.check input:disabled + label>.circle_example, .check input:disabled + label>.square_example{
    border-color: gray;
}
.check input:disabled + label>.circle_example::after {
    display:block;
    background-color: gray;
}

.check .square>.square_example{
    border-radius: 0%;
}

.square_example::after{    
    height: 10px;
    border-radius: 0%;
    border-width: 0px 0px 4px 4px;    
    transform: rotate(-50deg);
    border-color: white;
    border-style: solid;
    top:3px;
    left:3px;
    background-color: transparent;
}

.check input:disabled + label>.square_example::after{
    border-color:gray;
    display:block;
}