ul>li:last-child a {
  color: blue;
  font-size: 30px;
}

ul>li:first-child a {
  font-size: 40px;
  color: red;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list .item {
  width: 150px;
  height: 150px;
  background-color: blue;
  margin: 20px;
}

.list>.item:nth-child(2n+1) {
  background-color: green;
}

.hoverable-item {
  width: 150px;
  height: 150px;
  background-color: black;
}

.hoverable-item:hover {
  background-color: red;
  border: 1px solid black;
}

.anchor-element {
  font-size: 20px;
}

.anchor-element:visited {
  color: blue;
}

.anchor-element:active {
  color: blue;
}

.input-element {
  border: 3px solid white;
}

.input-element:focus {
  border-color: lightgray;
}

.checkbox-element input:checked+label {
  border-bottom: 2px solid red;
}

.custom-checkbox>input {
  display: none;
}

.custom-checkbox>input:checked+label>div {
  background-color: red;
}

.custom-checkbox .custom-checkbox-element {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: white;
  border: 2px solid lightgray;
}

.table-content table {
  width: 100%;
  text-align: left;
  border-spacing: unset;
}

.table-content table td,
.table-content table th {
  padding: 5px 10px;
}

/* .table-content table tbody tr:nth-child(2n+1) {
  background-color: lightgray;
} */

.table-content table tbody tr:hover {
  background-color: lightgray;
}
